body{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
        background-color: #91C4C3;
}

header{
    background-color: #80A1BA;
    padding: 2em;
}
h1{
    padding: 0;
    margin:0;
    font-size: 3em;
    text-align: center;
    color: white;
}
section{
    margin: 0;
    padding: 1em;
    display: flex;
    gap: 10%;
    flex-wrap: wrap;
    justify-content: center;
}

div{
    justify-self: center;
    background-color: #B4DEBD;
    height: fit-content;
    width: fit-content;
    padding: 2em;
    border-radius: 20px;
    margin: 10px;
    padding-bottom: 1em;
}

form{
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    align-items: center;
}

.textField {
    height: 20px;
    border: none;
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 1em;
}

button {
    background-color: #80A1BA;
    border-radius: 30px;
    border: none;
    height: max-content;
    width: max-content;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    padding: 0.5em;
    margin-bottom: 20px;
}

button:hover{
    background-color: #4b85b1;
}

button:active{
    transform: scale(0.95);
    background-color: rgb(33, 97, 138);
    box-shadow: inset 0 2px 4px rbga(0,0,0,1);
}

#results{
    background-color: white;
    color: black;
    height: 200px;
    width: 400px;
}

h2{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    color: black;
    font-weight: normal;
    font-size: 1.5em;
}

#msg {
    font-size: 1.5em;
}