#tryflex{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

#mybaby{
    width: 20vh;
    height: auto;
    border-radius: 50%;
}

#name{
    font-size: 30px;
}

#sunghoon{
    background-color: red;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

#heeman{
    background-color: purple;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}

#hannie{
    background-color: darkblue;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 600px;
}

#trygrid{
    /* display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: auto auto auto;
 
    grid-template-areas: 
        "header header"
        "main side"
        "footer footer"; */
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

@media (min-width: 768px) {
    #trygrid{
        grid-template-columns: repeat(4, 1fr);
    }
}
 
#header{
    background-color: pink;
    animation: slidein 0.8s ease-in-out;
    /* grid-area:header; */
}

#mainbod{
    background-color: lightgreen;
    /* grid-area: main; */
}

#sidebod{
    background-color: lightskyblue;
    /* grid-area: side; */
}

#footer{
    background-color: rgb(255, 255, 137);
    /* grid-area: footer; */
}

/* small phones, large phones, small tablets base design
body{
    font-size: 16px;
}
/* tablets(portrait) */
/* @media(min-width:768px){
    body{
        font-size: 18px;
    }
} */
/* tablet(landscape)/small laptops */
/* @media(min-width: 1024px){
    body{
        font-size: 20px;
    }
} */
/* desktops */
/* @media(min-width:1200px){
    body{
        font-size: 22px;
    }
}  */

nav {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media(min-width:768px){
    nav{
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }
}

:root{
    --bg: #da2689;
    --text: hsl(78, 100%, 50%);
    --accent: #ff6b6b;
}

:root[data-theme="dark"] {
    --bg: #4d0f0f;
    --text: #f7f7f7;
    --accent: #1d2c0a;
}

#switch{
    /* background: var(--bg); */
     background: linear-gradient(135deg, yellow, rgb(255, 94, 0));
    color: var(--text);
    box-shadow: 2px 4px 6px rgba(0,0,0,0.2);
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

#toggle{
   
    box-shadow: 10px 10px 5px rgba(74, 24, 212, 0.3);
    transition: background 0.5s ease;
    animation: pulse 1s infinite;
}

#toggle:hover{
    background: yellow;
    animation: none;
    /* transform: scale(2.2); */
    
}

a{
    text-shadow: 2px 1px 9px rgb(223, 18, 52);
}

a:hover{
    border-style: solid;
    border-color: #04e723;
    border-width: 2px;    
    outline: none; 
    transform: scale(1.5);       
}

tr:nth-child(2n){
    background: salmon;
    background-color: salmon;
}

#checky:checked + label{
    text-decoration: line-through;
}

h1::before{
    content: "“";
    display: inline-block;
    width: 100px;
    height: 2px;
    background: black;
    margin-right: 8px;
}

h1::after{
    content: "”";
    color: gray;
    font-size: 1em;
}

#toggle::after{
    content: " NEW";
    color: white;
    background-color: red;
    padding: 2px 4px;
    border-radius: 4px;
}

h1{
      text-shadow: 1px 1px 2px gray;
    animation: fade 2s ease-in-out 2 backwards;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#loader{
    width:50px;
    height: 50px;
    border: 5px solid gray;
    border-top: 5px solid salmon;
    border-radius: 50%;
    animation: spin 1s linear 3 backwards ;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes slidein{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}


